<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Site for showing people the importances of sports " name="Healthy">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

  <title>Physical Activity</title>  

  <link href="{{url_for( 'static', filename='design.css' )}}" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Physical Activity</a></li>
          <li><a href="./about.html" title="">03 : People</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Physical Activity</h1>
          <p>Physical activity is defined as any voluntary bodily movement produced by skeletal muscles that requires energy expenditure. Physical activity encompasses all activities, at any intensity, performed during any time of day or night.
            It includes exercise and incidental activity integrated into daily activity. This integrated activity may not be planned, structured, repetitive or purposeful for the improvement of fitness, and may include activities such as walking to the local shop, cleaning, working, active transport etc. 
            Lack of physical activity is associated with a range of negative health outcomes whereas increased physical activity can improve physical as well as mental health.</p>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/sports5.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>1.Sports</h3>
                        <p>Sport pertains to any form of competitive physical activity or game</p>
                        <a href="./work.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work1.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/yoga5.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>2.Yoga</h3>
                        <p>Yoga is an old discipline from India. It is both spiritual and physical. Yoga uses breathing techniques, exercise and meditation.</p>
                        <a href="./work1.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work2.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/workout5.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>3.Workout</h3>
                        <p>Exercise is any bodily activity that enhances or maintains physical fitness and overall health and wellness.</p>
                        <a href="./work2.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
            </div>
           



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>People can stay healthy and in the bad time also does not stop doing physical activities </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> 
<script type="text/javascript" src="./static/main.js"></script>
</body>

</html>