<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Site for showing people the importances of sports " name="Healthy">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

  <title>Yoga</title>  
  <link href="{{url_for( 'static', filename='design.css' )}}" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Physical Activity</a></li>
          <li><a href="./about.html" title="">03 : People</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src='./static/assets/images/yoga.jpg' class="img-responsive" alt="">
        <div class="card-container">
          <h1></h1>
          <p></p>

          <blockquote>
            <h1>2 : Yoga</h1>
            <p>“Yoga does not just change the way we see things, it transforms the person who sees.”</p>
            <small class="pull-right">B.K.S Iyengar</small>
          </blockquote>
          <p>Yoga is a group of physical, mental, and spiritual practices or disciplines that originated in ancient India. Yoga is one of the six orthodox philosophical schools of Hinduism.
               There are a broad variety of yoga schools, practices, and goal in Hinduism, Buddhism, and Jainism and there are four paths or types of yoga: Karma yoga, Kriya yoga, Bhakti yoga, and Jnana yoga. Research studies have shown that traditional yoga systems that include breathing exercises and asanas or postures, chants, and meditation can reduce stress and improve immunity and lung functions. Traditional forms and modern methods of yoga are practiced worldwide.</p>
          <p>They different types of yoga , We will be seeing somes types of yoga  that you can pratice and do at home.</p>
        </div>
      </div>
      

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>1.Ashtanga Yoga</p>
            <a href="https://www.youtube.com/watch?v=1Krp4W0TlAU" target="_blank" title="" class="black-image-project-hover">
              <img src="./static/assets/images/yoga1.jpeg" alt="" class="img-responsive">
              <p>Ashtanga Yoga for Beginners - Half Primary Series</p>
            </a>
          </div>
          <div class="col-xs-12 col-md-6">
            <p>2.Bikram Yoga</p>
            <a href="https://www.youtube.com/watch?v=7OOUw5vTXHQ" target="_blank" title="" class="black-image-project-hover">
              <img src="./static/assets/images/yoga2.jpg" alt="" class="img-responsive">
              <p>Introduction to Bikram Yoga Mountain View, California</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>3.Hatha Yoga</p>
            <a href="https://www.youtube.com/watch?v=XSQn4-lO0Vk" target="_blank" title="" class="black-image-project-hover">
              <img src="./static/assets/images/yoga3.jpg" alt="" class="img-responsive">
              <p>Hatha Yoga For Beginners At Home </p>
            </a>
          </div>
          <div class="col-xs-12 col-md-6">
            <p>4.Kundalini Yoga</p>
            <a href="https://www.youtube.com/watch?v=s_yGfB4QKxE" target="_blank" title="" class="black-image-project-hover">
              <img src="./static/assets/images/yoga4.jpg" alt="" class="img-responsive">
              <p>What Is Kundalini Yoga?</p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> 
<script type="text/javascript" src="./static/main.js"></script>
</body>

</html>